body {
    margin: 0px;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    font-famiuly: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.centered_footer {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
}
